<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="false" scan="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level [%thread]: %message%n</pattern>
        </encoder>
    </appender>
    <root level="${LOG_ROOT_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
